.r1 {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r1 .img {
  background-color: #000;
  width: 90px;
  height: 30px;
  background: url(./images/3d-rendering-transparent-triangle.png);
  background-size: cover;
  background-position: center;


}

.r1 .text1 {
  font-size: .7em;
  letter-spacing: 2px;
}

.r1 .c1 span:nth-child(1) {
  color: rgb(3, 251, 255);
  margin-right: 5px;
}

.r1 .c1 span:nth-child(2) {
  margin-right: 30px;
}

.r1 .c1 span:nth-child(3) {
  color: aqua;
  margin-right: 10px;
}

.r1 .fa-location-arrow {
  color: #0a66c2;
  margin-right: 10px;
}

.r1 span:nth-child(2) {
  margin-right: 20px;
}

.r1 .fa-mail-reply {
  color: #0a66c2;
  margin-right: 10px;
}

.r2 {
  padding: 8px 0;
}

.r2 span:nth-child(1),
.r2 span:nth-child(2),
.r2 span:nth-child(3),
.r2 span:nth-child(4),
.r2 span:nth-child(5) {
  margin-right: 20px;
}

.r2 .cc1 {
  display: flex;
  justify-content: center;
}


.r2 .txt2 {
  color: rgb(9, 223, 215);
}

.r3 {
  background: url(./images/man-showing-new-strategy-colleagues.jpg);
  background-size: cover;
}

.r3 .img {

  background: #101024a7;
  color: white;
  padding: 200px 400px 200px 400px;
  text-align: center;
}

.r3 .img .txt1 {
  font-size: 2em;
}

.r3 .img .txt2 {
  font-size: 40px;
  font-weight: 700;
  font-family: cursive;
  letter-spacing: .1em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.r3 .img .txt4 button {
  background: rgb(213, 127, 69);
  color: white;
  padding: 8px 20px;
  border: unset;
  margin-top: 40px;
}

.r4 .c1 {
  display: flex;
  padding: 0 200px;
  margin-top: -160px;
}

.r4 .box1 {
  width: 350px;
  height: 300px;
  background: orange;
  color: #fff;
  padding: 50px;
}

.r4 .box1 .txt1 {
  font-size: 1.5em;
  /* font-weight: 600; */
}

.r4 .box1 .txt2 {
  font-size: 1.8em;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.r4 .box1 .txt3 {
  font-weight: 500;
  margin-bottom: 12px;
}

.r4 .box1 .line {
  width: 25px;
  height: 2px;
  background: #fff;
  margin-bottom: 15px;
}

.r4 .box1 .txt4 {
  font-size: 1.2em;
  font-weight: 600;
}

.r4 .box2 {
  width: 350px;
  height: 300px;
  color: #fff;
  padding: 50px;
  background: #5bc7eb;
}

.r4 .box2 .txt1 {
  font-size: 1.5em;
  /* font-weight: 600; */
}

.r4 .box2 .txt2 {
  font-size: 1.8em;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.r4 .box2 .txt3 {
  font-weight: 500;
  margin-bottom: 12px;
}

.r4 .box2 .line {
  width: 25px;
  height: 2px;
  background: #fff;
  margin-bottom: 15px;
}


.r4 .box3 {
  width: 350px;
  height: 300px;
  color: #fff;
  padding: 50px;
  background: greenyellow;
}


.r4 .box3 .txt4 {
  font-size: 1.2em;
  font-weight: 600;
}

.r4 .box3 .txt1 {
  font-size: 1.5em;
  /* font-weight: 600; */
}

.r4 .box3 .txt2 {
  font-size: 1.8em;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.r4 .box3 .txt3 {
  font-weight: 500;
  margin-bottom: 12px;
}

.r4 .box3 .line {
  width: 25px;
  height: 2px;
  background: #fff;
  margin-bottom: 15px;
}

.r4 .box3 .txt4 {
  font-size: 1.2em;
  font-weight: 600;
}

.r5 {
  padding: 100px 200px;
}

.r5 .heading {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

.r5 .button {
  margin-top: 30px;
}

.r5 .button button {
  border-color: orangered;
  color: orangered;
  background: none;
  padding: 8px 20px;
}

.r5 .icon1 {
  width: 60px;
  height: 60px;
  background: url(./images/innovation.png);
  background-size: cover;
  margin-bottom: 10px;
}

.r5 .heading2 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.r5 .icon2 {
  width: 60px;
  height: 60px;
  background: url(./images/planning_12140173.png);
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 10px;
}

.r5 .heading3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.r5 .icon3 {
  width: 60px;
  height: 60px;
  background: url(./images/target_10740769.png);
  background-size: cover;
  margin-bottom: 10px;
}

.r5 .heading4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.r5 .icon4 {
  width: 60px;
  height: 60px;
  background: url(./images/support\ customer.png);
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 10px;
}

.r5 .heading5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.r6 {
  height: 40vh;
  background: url(./images/colleagues-talking-learning-study-session.jpg);
  background-size: cover;
  background-position: center -150px;
}

.r6 .img {
  background: #101024c6;
  /* backdrop-filter: blur(2px); */
  color: white;
  text-align: center;
  padding: 80px 200px;
}

.r6 .img .txt1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.r6 .img button {
  background: orangered;
  color: white;
  border: unset;
  padding: 8px 20px;
  margin-top: 20px;
}

.r7 {
  text-align: center;
  padding: 100px 200px;
}

.r7 .text1 {
  font-size: 1.5em;
  font-weight: 700;
}


.r7 .txt1 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 8px;
}

.r7 .cc1 .img {
  width: 60px;
  height: 60px;
  background: url(./images/zigzag_7237036.png);
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.r7 .cc2 .img {
  width: 60px;
  height: 60px;
  background: url(./images/innovation.png);
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.r7 .cc3 .img {
  width: 60px;
  height: 60px;
  background: url(./images/target_10740769.png);
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.r7 .cc4 .img {
  width: 60px;
  height: 60px;
  background: url(./images/market\ research.png);
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.r7 .cc5 .img {
  width: 60px;
  height: 60px;
  background: url(./images/planning_12140173.png);
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.r7 .cc6 .img {
  width: 60px;
  height: 60px;
  background: url(./images/support\ customer.png);
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}



.r8 {
  height: 50vh;
  background: url(./images/people-taking-part-business-event.jpg);
  background-size: cover;
  background-position: center;
}

.r8 .img {
  background: #101024c6;
  backdrop-filter: blur(2px);
  color: #fff;
  text-align: center;
  padding: 80px 200px;
}

.r8 .img .button {
  width: 80px;
  height: 80px;
  background: #2f728b70;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.r8 .img button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #52AFCF;
  border: unset;
  color: #fff;
}

.r8 .img .text1 {
  font-size: 30px;
  font-weight: 600;
  font-family: cursive;
  letter-spacing: 1px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.r9 {
  padding: 80px 200px;
}

.r9 .txt1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.r9 .img1 {
  width: 250px;
  height: 300px;
  background: url(./images/elegant-man-with-folded-arms.jpg);
  background-size: cover;
  background-position: -50px center;
  margin-top: 20px;
  box-shadow: 2px 4px 6px #00000088;
}

.r9 .img2 {
  width: 250px;
  height: 300px;
  background: url(./images/customer-service-cute-brunette-guy-suit-with-laptop-smiling-headset.jpg);
  background-size: cover;
  background-position: -50px center;
  margin-top: 20px;
  box-shadow: 2px 4px 6px #00000088;
}

.r9 .img3 {
  width: 250px;
  height: 300px;
  background: url(./images/young-elegant-businesswoman-posing.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  box-shadow: 2px 4px 6px #00000088;
}

.r9 .img4 {
  width: 250px;
  height: 300px;
  background: url(./images/widely-smiling-businesswoman-working-laptop-sitting-cafe_197531-341.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  box-shadow: 2px 4px 6px #00000088;
}

.r9 .name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.2em;
}

.r9 .icons {
  margin-top: 10px;
}

.r10 {
  height: 50vh;
  background: url(./images/high-angle-coworkers-meeting-office.jpg);
  background-size: cover;
  background-position: center;
}

.r10 .img {
  background: #101024c6;
  backdrop-filter: blur(2px);
  color: #fff;
  text-align: center;
  padding: 50px 500px;
}

.r10 .img .text1 {
  font-size: 1.4em;
  font-weight: 600;
}

.r11 {
  padding: 0 300px;
}

.r11 .cc1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
  position: relative;

}

.r11 .boxcc {
  padding: 50px 20px;
}


.r11 .box1 {
  width: 300px;
  border: 2px solid #fff;
  text-align: center;
  box-shadow: 2px 4px 15px #0c0c0c3e;
  background: #ffffff;

}

.r11 .box1 .icon {
  width: 60px;
  height: 60px;
  background: url(./images/market\ research.png);
  background-size: cover;
  margin: auto;

}

.r11 .box1 .txt1 {

  font-weight: 600;
  margin-top: 10px;
}

.r11 .box1 .txt2 {
  font-size: 30px;
  font-weight: 600;
}

.r11 .box1 button {
  background: #fff;
  border-color: orangered;
  color: orangered;
  padding: 5px 10px;
  margin-top: 20px;
}

.r11 .box2 {
  width: 300px;
  border: 2px solid #fff;
  text-align: center;
  box-shadow: 2px 4px 15px #0c0c0c3e;
  margin-left: 20px;
  background: #ffffff;
  height: 550px;
}

.r11 .box2 .icon {
  width: 60px;
  height: 60px;
  background: url(./images/innovation.png);
  background-size: cover;
  margin: auto;
}

.r11 .box2 .txt1 {
  font-weight: 600;
}

.r11 .box2 .txt2 {
  font-size: 30px;
  font-weight: 600;
}

.r11 .box2 button {
  border-color: greenyellow;
  background: unset;
  color: greenyellow;
  padding: 5px 10px;
}

.r11 .box3 {
  width: 300px;
  border: 2px solid #fff;
  text-align: center;
  box-shadow: 2px 4px 15px #0c0c0c3e;
  margin-left: 20px;
  background: #ffffff;
}

.r11 .box3 .icon {
  width: 60px;
  height: 60px;
  background: url(./images/support\ customer.png);
  background-size: cover;
  margin: auto;

}

.r11 .box3 .txt1 {

  font-weight: 600;
  margin-top: 10px;
}

.r11 .box3 .txt2 {
  font-size: 30px;
  font-weight: 600;
}

.r11 .box3 button {
  background: #fff;
  border-color: aqua;
  color: aqua;
  padding: 5px 10px;
  margin-top: 20px;
}

.r12 {
  text-align: center;
  padding: 50px 200px;
}

.r12 .heading {
  font-size: 1.5em;
  font-weight: 700;
}

.r12 .cc1 .img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url(./images/handsome-smiling-businessman-using-cellphone-holding-phone-both-hands-looking-pleased-camera-standing-suit-white-background.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
}

.r12 .cc1 .txt1 {
  margin-top: 10px;
}

.r12 .cc1 .txt2 {
  font-weight: 600;
  margin-top: 10px;
}

.r12 .cc2 .img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url(./images/team-analysts-calculating-profit-amount-making-decisions.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
}

.r12 .cc2 .txt1 {
  margin-top: 10px;
}

.r12 .cc2 .txt2 {
  font-weight: 600;
  margin-top: 10px;
}

.r12 .fa-circle-o {
  margin-right: 5px;
  color: orangered;
  font-size: 1em;
}

.r12 .fa-circle {
  color: orangered;
}

.r13 .row {
  /* height: 200px; */
  background-color: #35444B;
  align-items: center;
  padding: 0 100px;
  position: relative;
}

.r13 .col-lg-3:nth-child(1) .img {
  background: url(./images/mackenzie-investments-logo.png);
}

.r13 .col-lg-3:nth-child(2) .img {
  background: url(./images/800px-DWS_Investments_Logo.svg.webp);
}

.r13 .col-lg-3:nth-child(3) .img {
  background: url(./images/logo_JEOL_sfi.png);
}

.r13 .col-lg-3:nth-child(4) .img {
  background: url(./images/2560px-Union_Investment_2010_logo.svg.png);
}

.r13 .img {
  width: 100%;
  height: 100px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  filter: grayscale(1) invert(1);
}

.r13 .filter1 {
  position: absolute;
  width: 98%;
  height: 400px;
  background-color: #35444bad;
  z-index: 1;
}

.r14 {
  padding: 50px 200px;
}

.r14 .heading1 {
  font-size: 2em;
  font-weight: 700;
}

.r14 .heading2,
.r14 .heading3,
.r14 .heading4 {
  font-size: 1.2em;
  font-weight: 600;
}

.fa-facebook {
  color: #0866ff;
  margin-right: 10px;
}

.fa-google-plus {
  color: orangered;
  margin-right: 10px;
}

.fa-linkedin {
  color: #0a66c2;
  margin-right: 10px;
}

.fa-twitter {
  color: rgb(56, 115, 241);
}

.r14 .head1 {
  font-size: 2em;
  font-weight: 700;
}

.r14 button {
  background: orangered;
  border: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
}

.r14 .heading3,
.r14 .heading2,
.r14 .heading4 {
  margin-top: 20px;
}

.r14 .text5 {
  margin-bottom: 20px;
}

.form-control {
  background: rgba(188, 179, 179, 0.064);
}

.r15 {
  padding: 10px 100px;
}

.r15 .cc1 {
  display: flex;
  justify-content: end;
  align-items: end;
}

.r15 .cc1 span:nth-child(1),
.r15 .cc1 span:nth-child(2),
.r15 .cc1 span:nth-child(3),
.r15 .cc1 span:nth-child(4),
.r15 .cc1 span:nth-child(5) {
  margin-right: 30px;
}

@media (max-width:720px) {

  .r15 {
    padding: 20px;
  }

  .r14 {
    padding: 0;
    margin-top: 30px;
  }

  .r13 {
    padding: 0px;
  }

  .r12 {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .r12 .cc2 .img {
    margin-top: 20px;

  }

  .r11 {
    padding: 10px;
  }

  .r10 {
    margin-bottom: 250px;
  }

  .r10 .img {
    padding: 0;
  }

  .r9 {
    padding: 10px;
    margin-top: 50px;
  }

  .r8 {
    margin-top: 50px;
  }

  .r8 .img {
    padding: 0;
  }

  .r8 .img .button {
    margin-top: 20px;
  }

  .r7 {
    padding: 10px;
    margin-top: 50px;
  }

  .r6 {
    margin-top: 50px;
  }

  .r6 .img {
    padding: 0;
  }

  .r6 .img .txt1 {
    margin-top: 50px;
  }

  .r5 {
    padding: 30px;
  }

  .r5 .heading {
    margin-top: 10px;
  }

  .r5 .icon1 {
    margin-top: 50px;
  }

  .r4 .c1 {
    padding: 0px 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .r3 .img {
    padding: 10px 0px;
  }

  .r1 {
    padding: 0;
  }

  .r1 .img {
    margin: auto;
  }

  .r1 .text1 {
    text-align: center;
  }
}